<!-- Page Content -->
<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true">Images</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="false">Favs</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Gallery</h1>
      <hr class="mt-2 mb-5">
      <div class="row text-center text-lg-left" *ngIf="searching">
        <h3>
          Cargando Imagenes...
          <img src="assets/Disk-1s-200px.gif" style="width:50px;height:50px" />
        </h3>
      </div>
      <div class="row text-center text-lg-left" *ngIf="!searching">
        <div class="col-lg-3 col-xs-10">
          <input type="text" placeholder="Buscar palabras" class="form-control input-md" [(ngModel)]="searchText" />
        </div>
        <div class="col-lg-9 col-xs-2">
          <button class="btn btn-md btn-success" [disabled]="searching" (click)="buscarImagenes()"><i
              class="fa fa-search">&nbsp;Buscar</i></button>
        </div>
      </div>
      <hr />
      <div class="row text-center text-lg-left" *ngIf="arrImages">
        <div class="col-lg-3 col-md-4 col-6" *ngFor="let image of arrImages">

          <a href="#" class="d-block mb-4">
            <img class="img-fluid img-thumbnail" src="{{image.urls.regular}}" alt="{{image.alt}}">
            <div style="bottom:50px;left:0;width: 100%;
                                  position: relative;text-align: center;
                                  background-color: rgba(0,0,0,0.6);
                                  padding:10px">
              <a (click)="likeImage(image)"
                style="font-size: 10px;color:white;text-shadow: 2px 2px 2px black;cursor: pointer;">
                <i class="fa fa-2x "
                  [ngClass]="{'fa-heart-o':!image.liked_by_user, 'fa-heart':image.liked_by_user}"></i>
                <label style="font-size: 20px;margin-left: 10px;">{{image.likes}} Likes</label>
              </a>

            </div>
          </a>

        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="row text-center text-lg-left" *ngIf="!arrFavImages">
        <h3>
          Cargando Imagenes...
          <img src="assets/Disk-1s-200px.gif" style="width:50px;height:50px" />
        </h3>
      </div>
      <div class="row text-center text-lg-left" *ngIf="arrFavImages">
        <div class="col-lg-3 col-md-4 col-6" *ngFor="let image of arrFavImages">

          <a href="#" class="d-block mb-4">
            <img class="img-fluid img-thumbnail" src="{{image.urls.regular}}" alt="{{image.alt}}">
            <div style="bottom:50px;left:0;width: 100%;
                                        position: relative;text-align: center;
                                        background-color: rgba(0,0,0,0.6);
                                        padding:10px">
              <!-- <a (click)="unlikeImage(image)" -->
              <a style="font-size: 10px;color:white;text-shadow: 2px 2px 2px black;cursor: pointer;">
                <i class="fa fa-2x "
                  [ngClass]="{'fa-heart-o':!image.liked_by_user, 'fa-heart':image.liked_by_user}"></i>
                <label style="font-size: 20px;margin-left: 10px;">{{image.likes}} Likes</label>
              </a>

            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->